
{% extends 'base.html' %} {% block content %}
<h3> Edit Recipe</h3>
  <div class="row">
      <form method="POST" class="col s12">
        <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}">
            <label for="icon_prefix">Recipe name</label>
        </div>
          <!-- input field for "Author"-->
                <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="author" name="author" type="text" class="validate" value="{{recipe.author}}">
            <label for="icon_prefix">Author</label>
        </div>
          <!-- input field for "Cook time"-->
                <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="cook_time" name="cook_time" type="text" class="validate" value="{{recipe.cook_time}}">
            <label for="icon_prefix">Cook time</label>
        </div>
          <!-- input field for "Level of difficulty"-->
                <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="Level" name="Level" type="text" class="validate" value="{{recipe.Level}}">
            <label for="icon_prefix">Level of difficulty</label>
        </div>
          <!-- input field for "Ingredients"-->
                <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="Ingredients" name="Ingredients" type="text" class="validate" value="{{recipe.Ingredients}}">
            <label for="icon_prefix">Ingredients</label>
        </div>
          <!-- input field for "Method"-->
                <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="Method" name="Method" type="text" class="validate" value="{{recipe.Method}}">
            <label for="icon_prefix">Method</label>
        </div>
          <!-- input field for "no. of servings"-->
                <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="Servings" name="Servings" type="text" class="validate" value="{{recipe.Servings}}">
            <label for="icon_prefix">No. of Servings</label>
        </div>
 <button class="btn waves-effect waves-light" type="submit">Accept changes
    <i class="material-icons right">send</i>
  </button>
    </form>
  </div>
{% endblock %}
</html>
